.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.advantages__sub-item--background-blue {
  color: #ffffff;
  background-color: #81b3d2;

  p {
    color: #ffffff;
  }
}

.advantages__divider-image {
  width: 320px;
  height: 37px;
  background-image: url("../img/divider-advantages.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--background-gray {
  background-color: #eeeeee;
}
