.developed__title {
  max-width: 90px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  padding-top: 8px;
  word-break: break-word;
}

.developed__logo-wrapper {
  display: flex;
  max-width: 27px;
  flex-direction: column;
  flex-wrap: wrap;
}
