.main-navigation__toggle {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 17px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

.main-navigation {
  @media (min-width: @tablet-width) {
    width: 100%;

    .main-navigation__toggle {
      display: none;
    }
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
  border: none;
}

.main-navigation--closed .main-navigation__toggle:hover::before {
  background-color: #b3d1e4;
  box-shadow: 0 9px 0 0 #b3d1e4, 0 18px 0 0 #b3d1e4;
}

.main-navigation--closed .main-navigation__toggle:active::before {
  background-color: #d9e8f2;
  box-shadow: 0 9px 0 0 #d9e8f2, 0 18px 0 0 #d9e8f2;
}

.main-navigation--opened .main-navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -3px;
    width: 29px;
    height: 4px;
    transform: rotate(45deg);
    background-color: #ffffff;
    z-index: 2;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: #cde1ed;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: #a7cae0;
    }
  }
}

@media (max-width: @display-mobile-max) {
  .main-navigation--closed .main-navigation__wrapper {
    display: none;
  }
}

.main-navigation__list {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1;

  @media (min-width: @tablet-width) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    padding-left: 2px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    padding-left: 0;
  }
}

.main-navigation__item {
  display: flex;
  justify-content: center;
  background-color: #81b3d2;
  word-break: break-word;

  @media (max-width: @display-mobile-max) {
    &:not(:first-child) {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    }

    &:last-child {
      box-shadow: 0 -9px 5px -5px rgba(1, 1, 1, 0.2) inset;
    }
  }

  @media (min-width: @tablet-width) {
    width: 153px;
    padding: 2px 0 5px 0;
    box-shadow: none;
    background-color: transparent;

    &:nth-child(4n+3) {
      margin: 0 0 0 20%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 240px;
  }
}

.main-navigation__link {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  word-break: break-word;
  color: #ffffff;
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 0;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #000000;
      opacity: 0.3;
    }
  }
}

.main-navigation__link--current {
  @media (min-width: @tablet-width) {
    color: #766357;
  }
}

@media (max-width: @display-mobile-max) {
  .main-navigation__item:hover {
    background-color: #669ec0;
  }

  .main-navigation__item:active {
    background-color: #5496bd;
  }

  .main-navigation__link:active {
    color: #87b5d1;
  }
}

@media (max-width: @display-mobile-max) {
  .main-navigation--no-js {
    .main-navigation__wrapper {
      display: block;
    }

    .main-navigation__list {
      position: static;
    }
  }
}
