.search-hotel__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}

.search-hotel__link {
  display: flex;
  width: 284px;
  height: 58px;
  justify-content: center;
  align-items: center;
}
