.visit__link {
  max-width: 140px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  word-break: break-word;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 12px;
    padding-left: 9px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 12px;
  }
}
